<div class="container">

    <h2>Redaguoti profilį</h2>
    <p>Grįžti atgal</p>

    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <label for="form_name">ĮMONĖS PAVADINIMAS *</label>
    {{ form_row(form.title) }}
    <label for="form_name">SEKTORIUS *</label>
    {{ form_row(form.sector) }}
    <label for="form_name">TELEFONO NUMERIS</label>
    {{ form_row(form.phone) }}
    <label for="form_name">LOGOTIPAS</label>
    <img src="{{ asset('img/profiles/'~app.user.photo)}}" alt="Logotipas">
    {{ form_row(form.imageFile) }}
    <label for="form_name">MIESTAS</label>
    {{ form_row(form.city) }}
    <label for="form_name">APRAŠYMAS</label>
    {{ form_row(form.description) }}

    <input type="submit" value="Redaguoti"/>
    {{ form_end(form) }}

    <p>* Laukai turi būti užpildyti</p>

</div>