<div class="container">
    <div class="col-md-10 col-md-offset-1 form-container">

        <p class="page-heading">Redaguoti profilį</p>
        <a href="{{ path('fos_user_profile_show') }}" class="form-upper-btn">Gįžti atgal</a>

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

            {{ form_row(form.title) }}

            {{ form_row(form.email) }}

            {{ form_row(form.phone) }}

            <img class="img-responsive profile-img" src="{{ asset('img/profiles/'~app.user.photo ?? 'no-logo.jpg')}}" alt="Logotipas">
            {{ form_row(form.imageFile) }}

            {{ form_row(form.city) }}

            {{ form_row(form.sector) }}

            {{ form_row(form.description) }}

            <div class="text-right">
                <small>* Pažymėti laukai turi būti užpildyti</small>
            </div>

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Redaguoti"/>
            </div>
        {{ form_end(form) }}

    </div>
</div>