<div class="container">
    <div class="content-container">

        <a class="form-upper-btn" href="{{ path('fos_user_profile_edit') }}">Redaguoti</a>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive profile-img"
                     src="{{ asset('img/profiles/'~app.user.photo ?? 'no-logo.jpg') }}" alt="Logotipas">
            </div>
            <div class="col-md-8 col-sm-6">
                <ul class="profile-list">
                    <li class="profile-user-name">{{ app.user.title }}</li>
                    <li>{{ app.user.email }}</li>
                    <li>{{ app.user.phone }}</li>
                    <li>{{ app.user.city }}</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="section-heading profile-heading">Sektorius</p>
                <p>{{ app.user.sector }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="section-heading profile-heading">Trumpai apie įmonę</p>
                <p>{{ app.user.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="section-heading profile-heading">Mano sukurti skelbimai</p>
            </div>
        </div>

        <ul class="profile-list">
            {% for jobad in app.user.jobAd %}
                <li>
                    <a href="{{ path('jobad_show', {'id': jobad.id }) }}">{{ jobad.title }}</a>
                    <small>
                        <a href="{{ path('jobapply_index', {'id': jobad.id }) }}"> | Peržiūrėti kandidatų sąrašą ({{ jobad.jobApply.count }})</a>
                    </small>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>