<div class="container">
    <div class="content-container">

        <a class="form-upper-btn" href="{{ path('fos_user_profile_edit') }}">Redaguoti</a>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive user-profile-img"
                     src="{{ asset(app.user.photo ? ('img/profiles/' ~ app.user.photo) : 'img/no-photo.jpg') }}"
                     alt="Nuotrauka">
            </div>
            <div class="col-md-8 col-sm-6">
                <ul class="profile-list">
                    <li class="profile-user-name">{{ app.user.name }} {{ app.user.surname }}</li>
                    <li>{{ app.user.email }}</li>
                    <li>{{ app.user.phone }}</li>
                    <li>{{ app.user.city }}</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="section-heading profile-heading">Gebėjimai</p>
                <div>
                    {% for skill in app.user.skills %}
                        <span class="skill">{{ skill.title }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="section-heading profile-heading">Trumpas prisistatymas</p>
                <p>{{ app.user.introduction }}</p>
            </div>
        </div>
        {% if app.user.jobApply|length > 0 %}
            <div class="row">
                <div class="col-xs-12">
                    <p class="section-heading profile-heading">Pozicijos į kurias kandidatavau</p>
                    <ul class="profile-list">

                        {% for jobApply in app.user.jobApply %}
                            <li class="profile-jobapply-list-item item-bordered">
                                <ul class="profile-list">
                                    <li>
                                        <a class="text-uppercase" href="{{ path('jobad_show', {'id': jobApply.jobAd.id}) }}">
                                            {{ jobApply.jobAd.title }}
                                        </a>
                                    </li>
                                    <li>
                                        <span class="text-uppercase">Įmonė: </span>
                                        {{ jobApply.jobAd.owner.title }}
                                    </li>
                                    <li>
                                        <span class="text-uppercase">Įvertinimas: </span>
                                        {% if jobApply.evaluation %}
                                            <span class="profile-jobapply-list-item">
                                                <span class="mark">{{ jobApply.evaluation.mark }}</span>
                                                {#TODO limit length and add button, that renders full evaluation onClick#}
                                                <span class="comment">{{ jobApply.evaluation.comment }}</span>
                                            </span>
                                        {% else %}
                                            <span class="profile-jobapply-list-item">Būsi įvertintas artimiausiu metu</span>
                                        {% endif %}
                                    </li>
                                </ul>

                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>