{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-container">
            <p class="page-heading">{{ form.vars.value.id ? "Redaguok skelbimą!" : "Sukurk skelbimą!" }}</p>

            {{ form_start(form) }}
                {% set action = form.vars.value.id is null? path('jobad_new'): path('jobad_edit', {'id': form.vars.value.id }) %}

                    {{ form_label(form.title, null, {'label': 'Siūloma pozicija*'}) }}
                    {{ form_row(form.title) }}

                    <div class="form-group">
                        <label>Reikalavimai</label>
                        <div class="all-requirements">
                            {% if jobAd.requirements %}
                                {% for requirement in jobAd.requirements %}
                                    <div id="{{ requirement.id }}" class="skill-block">
                                        <span class="skill">{{ requirement.title }}</span>
                                        <i class="fa fa-times skill-delete" data-id="{{ requirement.id }}" aria-hidden="true"></i>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a class="add-requirements-btn" data-popup-open="popup-2" href="#">Pridėti reikalavimus</a>
                    </div>

                    {{ form_label(form.description, null, {'label': 'Apie siūlomą poziciją*'}) }}
                    {{ form_row(form.description) }}

                    {{ form_label(form.assignment, null, {'label': 'Nuoroda į užduotį*'}) }}
                    {{ form_row(form.assignment) }}

                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Sukurti"/>
                    </div>

            {{ form_end(form) }}

            {# Delete form. Visable only in edit route#}
            {% if( form.vars.value.id != null) %}
                {{ form_start(delete_form) }}
                <div class="text-center">
                    <input  class="btn btn-default" type="submit" value="Ištrinti">
                </div>
                {{ form_end(delete_form) }}
            {% endif %}

            <a class="pull-right" href="{{ path('jobad_my_index') }}">Atgal į sąrašą</a>
        </div>

        <div class="popup" data-popup="popup-2">
            <div class="popup-inner">
                <h4>Reikalavimai</h4>
                <div class="skill-input-container">
                    <input class="form-control requirements-input" type="text" placeholder="Po vieną įrašyk reikalavimus. Pvz.: php" required/>
                    <button class="btn btn-primary add-requirement" data-id="{{ jobAd.id }}">Pridėk</button>
                </div>
                <div class="added-requirements"></div>
                <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
            </div>
        </div>

    </div>

{% endblock %}
