{% extends 'base.html.twig' %}

{% block body %}
    <h2>Redaguok skelbimą!</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Redaguoti" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('jobad_my_index') }}">Atgal į sąrašą</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Trinti">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
