{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content-container">
            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <p class="page-heading">{% block heading %}Darbo{% endblock %} skelbimai</p>
                </div>
                {% if app.request.get('_route') != 'jobad_my_index' %}
                    <div class="col-sm-7 col-md-6">
                        {% include 'jobad/search-ads-seekers.html.twig' with {'form': searchForm} %}
                    </div>
                {% endif %}
            </div>

            {% if  jobAds == null %}
                <p>Nieko nerasta...</p>
                <a href="{{ path('jobad_index') }}">Peržiūrėti visus skelbimus</a>
            {% endif %}

            {% for jobAd in jobAds %}

                <!-- This is to list 3 divs in one row -->
                {% if loop.index0 is divisible by(3) %}
                    <div class="row">
                {% endif %}

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="job-ad-box">

                        <div class="job-title-block">
                            <div class="job-title job-list-job-title">
                                {{ jobAd.title }}
                            </div>
                        </div>
                        {% block employer %} {# employer title block is empty in my_index.html #}
                            <p class="text-center"><b>{{ jobAd.owner.title }}</b></p>
                        {% endblock %}

                        <div class="job-ad-requirements">
                            <p class="section-heading">Reikalavimai:</p>
                            <div class="text-center">
                                {% for requirement in jobAd.requirements %}
                                    <span class="skill">{{ requirement.title }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="job-ad-info">
                            <p class="section-heading">Trumpai apie siūlomą poziciją:</p>
                            <p class="ad-description">
                                {{ jobAd.description|length > 200 ? jobAd.description|slice(0, 200) ~ '...' : jobAd.description }}
                            </p>
                        </div>

                        <div class="job-ad-button">
                            <a href="{{ path('jobad_show', { 'id': jobAd.id }) }}" class="btn btn-primary">Rodyti daugiau</a>
                        </div>

                        {% block linkAds %}{% endblock %}

                    </div>
                </div>

                {% if loop.index is divisible by(3) or loop.last %}
                    </div> {# /row #}
                {% endif %}

            {% endfor %}

        </div>
    </div>

{% endblock %}
