{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-container">

            <div class="text-right">
                <a href="{{ app.request.headers.get('referer') }}">Grįžti atgal</a>
            </div>

            <p class="page-heading">{{ form.vars.value.id ? "Redaguok skelbimą!" : "Sukurk skelbimą!" }}</p>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
                {% set action = form.vars.value.id is null? path('jobad_new'): path('jobad_edit', {'id': form.vars.value.id }) %}

                    {{ form_row(form.title) }}

                    {# Add requirements form #}
                    {{ include('jobad/add_requirements_form.html.twig') }}

                    {{ form_row(
                        form.assignment, {'attr': {'placeholder': "Pvz.: https://drive.google.com/drive/uzduotis"}}) }}

                    {{ form_row(form.description) }}

                    <div class="text-right">
                        <small>* Pažymėti laukai turi būti užpildyti</small>
                    </div>

                    <div class="btn-block">
                        <input class="btn btn-primary" type="submit" value="{{ form.vars.value.id ? "Redaguoti" : "Sukurti" }}"/>
                    </div>
            {{ form_end(form) }}

            {# Remove btn visable only in edit route#}
            {% if( form.vars.value.id != null) %}
                <div class="btn-block">
                    <a class="btn btn-default" href="{{ path('jobad_remove', {'id': jobAd.id}) }}">Ištrinti</a>
                </div>
            {% endif %}
        </div>
        {# Pop-up renders on add-requirements button click #}
        {{ include('jobad/add_requirements_popup.html.twig') }}
    </div>
{% endblock %}
