{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-container">

            <div class="text-center">
                <p class="job-title">{{ jobAd.title }}</p>
            </div>

            <div class="text-center">
                {% for requirement in jobAd.requirements %}
                    <span class="skill">{{ requirement.title }}</span>
                {% endfor %}
            </div>

            <div>
                <p class="section-heading">Apie siūlomą poziciją:</p>
                <p>{{ jobAd.description  }}</p>
            </div>

            <div>
                <p class="section-heading">Užduotis kandidatams</p>
                <div class="text-center">
                    <a href="{{ jobAd.assignment }}">{{ jobAd.assignment }}</a>
                </div>
            </div>

            <div class="text-center">
                <a class="btn btn-primary" href="{{ path('jobapply_new', { 'ad_id': jobAd.id }) }}">Kandidatuoti</a>
            </div>

            <div class="text-center">
                Matoma owneriui
                <a class="btn btn-primary" href="{{ path('jobad_edit', { 'id': jobAd.id }) }}">Redaguoti</a>
            </div>

            <div class="text-center">
                Matoma owneriui
                <input class="btn btn-default" type="submit" value="Trinti">
            </div>

            Matoma role_employer
            <a class="pull-right" href="{{ path('jobad_my_index') }}">Atgal į sąrašą</a>

        </div>
    </div>



{% endblock %}
