{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-container">

            <div class="text-center">
                <p class="job-title">{{ jobAd.title }}</p>
            </div>

            <div class="text-center">
                {% for requirement in jobAd.requirements %}
                    <span class="skill">{{ requirement.title }}</span>
                {% endfor %}
            </div>

            <div>
                <p class="section-heading">Apie siūlomą poziciją:</p>
                <p>{{ jobAd.description }}</p>
            </div>

            <div>
                <p class="section-heading">Užduotis kandidatams</p>
                <a href="{{ jobAd.assignment }}">{{ jobAd.assignment }}</a>
            </div>

            <div class="section-heading">
                <p class="section-heading">Kandidatavo: {{ jobAd.jobApply.count }}</p>
            </div>

            <div class="text-center">
                {# Don't show for ROLE_EMPLOYER #}
                {% if not is_granted('ROLE_USER_EMPLOYER') %}
                    {# Only registered ROLE_SEEKER can apply #}
                    {% if is_granted('ROLE_USER_SEEKER') %}
                        <a class="btn btn-primary"
                           href="{{ path('jobapply_new', { 'ad_id': jobAd.id }) }}">Kandidatuoti</a>
                    {% else %}
                        <p>Prisijunkite arba užsiregistruokite</p>
                        <a class="btn btn-primary disabled"
                           href="{{ path('user_seeker_registration') }}">Kandidatuoti</a>
                    {% endif %}
                {% endif %}

            </div>

            {# Show EDIT button only for owner #}
            {% if app.user == jobAd.getOwner %}
                <div class="text-center">
                    <a class="btn btn-primary" href="{{ path('jobad_edit', { 'id': jobAd.id }) }}">Redaguoti</a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER_EMPLOYER') %}
                <a class="pull-right" href="{{ path('jobad_my_index') }}">Atgal į sąrašą </a>
            {% else %}
                <a class="pull-right" href="{{ path('jobad_index') }}">Atgal į sąrašą </a>
            {% endif %}

        </div>
    </div>



{% endblock %}
