<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}GetHired{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-3.3.7.min.css') }}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}"><span>Get</span>Hired</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        {% if not app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Registracija <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('user_seeker_registration') }}">Ieškantiems darbo</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('user_employer_registration') }}">Siūlantiems darbą</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('fos_user_security_login') }}">Prisijunk!</a></li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Veiksmai <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Mano profilis</a></li>
                                    <li role="separator" class="divider"></li>
                                    {% if is_granted('ROLE_USER_SEEKER') %}
                                        {#Ivertinimu ir skalebimu i kuriuos kandidavo sarasas#}
                                        <li><a href="#">Mano įvertinimai</a></li>
                                    {% elseif is_granted('ROLE_USER_EMPLOYER') %}
                                        <li><a href="{{ path('jobad_my_index') }}">Mano skelbimai</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('jobad_new') }}">Sukurti naują skelbimą</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                        {% endif %}
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="https://use.fontawesome.com/1542fb3828.js"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
