<header>
    <nav id="nav" class="navbar navbar-fixed-top" data-spy="affix">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"><span class="get">Get</span><span class="hired">Hired</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    {% if not app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Registracija <span
                                        class="caret navbar-item"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_seeker_registration') }}">Ieškantiems darbo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('user_employer_registration') }}">Siūlantiems darbą</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-item" href="{{ path('fos_user_security_login') }}">Prisijunk!</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Veiksmai <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_profile_show') }}">Mano profilis</a></li>
                                <li role="separator" class="divider"></li>
                                {% if is_granted('ROLE_USER_SEEKER') %}
                                    <li><a href="{{ path('jobad_index') }}">Peržiūrėti darbo skelbimus</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('user_employer_index') }}">Peržiūrėti įmonių sąrašą</a></li>
                                {% elseif is_granted('ROLE_USER_EMPLOYER') %}
                                    <li><a href="{{ path('jobad_my_index') }}">Mano skelbimai</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('jobad_new') }}">Sukurti naują skelbimą</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('user_seeker_index') }}">Peržiūrėti darbuotojus</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('jobad_index') }}">Peržiūrėti visus skelbimus</a></li>
                                {% endif %}
                            </ul>
                        <li><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                    {% endif %}
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>