{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-container">
            <p class="page-heading">Kandidatuok!</p>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
                {#{{  form_errors(form) }}#}

                <div class="form-group">
                    {{ form_label(form.assignmentSolution, 'Nuoroda į užduoties sprendimą') }}
                    {{ form_widget(form.assignmentSolution) }}
                    {# TODO fix errors rendering problem - errors doesn't render below input field#}
                    {{ form_errors(form.assignmentSolution) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.imageFile, 'Įkelk savo CV') }}
                    {{ form_widget(form.imageFile) }}
                    {{ form_errors(form.imageFile) }}
                </div>

                <div class="btn-block">
                    <input class="btn btn-primary" type="submit" value="Kandidatuoti" />
                </div>
            {{ form_end(form) }}

            {# Delete form. Visable only in edit route#}
            {% if( form.vars.value.id != null) %}
                {{ form_start(delete_form) }}
                <div class="btn-block">
                    <input  class="btn btn-default" type="submit" value="Ištrinti">
                </div>
                {{ form_end(delete_form) }}
            {% endif %}

        </div>
    </div>
{% endblock %}
