{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jobapply</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jobApply.id }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ jobApply.cv }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jobapply_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jobapply_edit', { 'id': jobApply.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
