{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form-container">
        <div class="row">
            <p class="page-heading">Šiuo metu darbo ieško:</p>
        </div>
        {% for userSeeker in userSeekers %}

            <div class="row">
                <div class="col-md-4 seeker-box">
                    <div class="row box-upper-row">
                        <div class="col-md-6">
                            <img class="img-responsive seeker-box-img" src="{{ asset('img/profiles/')~userSeeker.photo }}" alt="Nuotrauka">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ userSeeker.name }}{{ userSeeker.surname }}</strong>
                            <p>{{ userSeeker.profession }}</p>
                            <p>{% if userSeeker.birthday %}{{ userSeeker.birthday|date('Y-m-d') }}{% endif %}</p>
                            <p>{{ userSeeker.city }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="section-heading">Gebėjimai:</p>
                        {% for skill in userSeeker.skills %}
                            <span class="skill">{{ skill.title }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        <p class="section-heading">Trumpai apie mane:</p>
                        <p>{{ userSeeker.introduction }}</p>
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-primary show-more-btn">Rodyti daugiau</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
