{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content-container">

            <div class="text-right">
                <a href="{{ app.request.headers.get('referer') }}">Grįžti atgal</a>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img class="img-responsive profile-img"
                         src="{{ asset('img/profiles/'~userSeeker.photo ?? 'no-photo.jpg') }}" alt="Nuotrauka">
                </div>
                <div class="col-md-8 col-sm-6">
                    <ul class="profile-list">
                        <li class="profile-user-name">{{ userSeeker.name }} {{ userSeeker.surname }}</li>
                        <li>{{ userSeeker.email }}</li>
                        <li>{{ userSeeker.phone }}</li>
                        <li>{{ userSeeker.city }}</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="section-heading profile-heading">Gebėjimai</p>
                    <div>
                        {% for skill in userSeeker.skills %}
                            <span class="skill">{{ skill.title }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="section-heading profile-heading">Trumpas prisistatymas</p>
                    <p>{{ userSeeker.introduction }}</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
