{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="content-container">

            <a class="form-upper-btn" href="{{ path('user_employer_index') }}">Grįžti atgal</a>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img class="img-responsive profile-img"
                         src="{{ asset('img/profiles/'~userEmployer.photo ?? 'no-logo.jpg') }}" alt="Logotipas">
                </div>
                <div class="col-md-8 col-sm-6">
                    <ul class="profile-list">
                        <li class="profile-user-name">{{ userEmployer.title|raw }}</li>
                        <li>{{ userEmployer.email|raw }}</li>
                        <li>{{ userEmployer.phone|raw }}</li>
                        <li>{{ userEmployer.city|raw }}</li>
                        {% if salary %}
                            <li>Vidutinis atlyginimas: {{ salary }} €</li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="section-heading profile-heading">Trumpai apie įmonę</p>
                    <p>{{ userEmployer.description|raw }}</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
