{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-container">
            <p class="page-heading">Įvertinimas</p>
            <h3>{{ jobApply.jobAd.title }}</h3>
            <h3><i>{{ jobApply.owner.name }} {{ jobApply.owner.surname }}</i></h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Siųsti"/>
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    {# Delete form. Visable only in edit route#}
                    {% if( form.vars.value.id != null) %}
                        {{ form_start(delete_form) }}
                        <div class="text-center">
                            <input class="btn btn-danger" type="submit" value="Ištrinti" onsubmit="confirm('Ar tikrai norite ištrinti?')">
                        </div>
                        {{ form_end(delete_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}