{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1 form-container">

            <a class="form-upper-btn" href="{{ app.request.headers.get('referer') }}">Atgal</a>
            <p class="page-heading">{{ form.vars.value.id ? "Redaguok įvertinimą!" : "Įvertink kandidatą!" }}</p>

            {{ form_start(form) }}
                {% set action = form.vars.value.id is null? path('evaluation_new'): path('evaluation_edit', {'id': form.vars.value.id }) %}

                {{ form_row(form.mark) }}

                {{ form_row(form.comment) }}

                <div class="btn-block">
                    <input class="btn btn-primary" type="submit" value="Siųsti įvertinimą"/>
                </div>
            {{ form_end(form) }}

            {% if( form.vars.value.id != null) %}
                {{ form_start(delete_form) }}
                <div class="btn-block">
                    <input  class="btn btn-default" type="submit" value="Ištrinti įvertinimą">
                </div>
                {{ form_end(delete_form) }}
            {% endif %}

        </div>

    </div>
{% endblock %}