{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="col-md-8 col-md-offset-2 form-container">

            <h2>Užsiregistruok!</h2>
            <p>Užpildyk žemiau esančius laukus:</p>

            {{ form_start(form, {'action': path('user_employer_registration'), 'method': 'POST'}) }}

            {{ form_label(form.title, 'Įmonė') }}
            {{ form_row(form.title) }}

            {{ form_label(form.email, 'El. Paštas') }}
            {{ form_row(form.email) }}

            <label for="form_plainPassword">SLAPTAŽODIS *</label>
            {{ form_row(form.plainPassword.first) }}
            <label for="form_plainPassword_second">PATVIRTINK SLAPTAŽODĮ *</label>
            {{ form_row(form.plainPassword.second) }}
            <input type="submit" value="Registruokis"/>

            {{ form_end(form) }}

            <p>* Visi laukai turi būti užpildyti</p>
        </div>

    </div>
{% endblock body %}