{% extends "base.html.twig" %}

{% block body %}
    <div class="container">

        <h2>Užsiregistruok!</h2>
        <p>Užpildyk žemiau esančius laukus:</p>

        {{ form_start(form, {'action': path('user_employer_registration'), 'method': 'POST'}) }}

        <label for="form_name">ĮMONĖ *</label>
        {{ form_row(form.title) }}
        <label for="form_email">ELPAŠTAS *</label>
        {{ form_row(form.email) }}
        <label for="form_plainPassword">SLAPTAŽODIS *</label>
        {{ form_row(form.plainPassword.first) }}
        <label for="form_plainPassword_second">PATVIRTINK SLAPTAŽODĮ *</label>
        {{ form_row(form.plainPassword.second) }}
        <input type="hidden" name="role" value="ROLE_USER_EMPLOYER">
        <input type="submit" value="Registruokis"/>

        {{ form_end(form) }}

        <p>* Visi laukai turi būti užpildyti</p>

    </div>
{% endblock body %}